<?xml version="1.0"?>
<launch>
  <arg name="model_path" default="/home/ros/models/yolo/yolo11l-seg.engine"/>
  <arg name="conf" default="0.5"/>
  <arg name="depth_threshold" default="-1"/>
  <arg name="camera_name" default="astra2" />
  <arg name="im_width" default="800" />
  <arg name="im_height" default="600" />
  <arg name="color_topic" default="/$(arg camera_name)/color/image_raw"/>
  <arg name="depth_topic" default="/$(arg camera_name)/depth/image_raw"/>
  <arg name="cam_info_topic" default="/$(arg camera_name)/depth/camera_info"/>
  <arg name="yolo_verbosity" default="0"/>
  <arg name="color_mesh_by_label" default="false"/>
  <arg name="label_space_path" default="/home/ros/hydra_ws/src/hydra_stretch/config/label_spaces"/>
  <arg name="label_space_filename" default="coco_kitchen_large_objects_label_space.yaml" />
  <arg name="label_space_file" default="$(arg label_space_path)/$(arg label_space_filename)" />
  <node name="yolo_ros_node" pkg="hydra_seg_ros" type="yolo_ros_node.py" output="screen">
    <env name="YOLO_VERBOSE" value="$(arg yolo_verbosity)"/>
    <remap from="/yolo_ros_node/cam_info" to="$(arg cam_info_topic)"/>
    <remap from="/yolo_ros_node/colors" to="$(arg color_topic)"/>
    <remap from="/yolo_ros_node/depth" to="$(arg depth_topic)"/>
    <param name="model_path" value="$(arg model_path)"/>
    <param name="conf" value="$(arg conf)"/>
    <param name="depth_threshold" value="$(arg depth_threshold)"/>
    <param name="color_mesh_by_label" value="$(arg color_mesh_by_label)"/>
    <param name="label_space_file" value="$(arg label_space_file)" />
    <param name="rot_90" value="$(arg rot_90)" />
    <param name="im_width" value="$(arg im_width)" />
    <param name="im_height" value="$(arg im_height)" />
  </node>
</launch>
